.header{
    display: flex;
    justify-content: space-between;
    padding: 20px 50px; 
    
}
.logo{
    color: rgb(252, 47, 47);
    font-size: 20px;
}
.nav_one{
    display: flex;
    gap:28px;
    font-weight: 600;
}
.nav_two{
    display: flex;
    gap:28px;
    font-weight: 600;
}
.nav_one button{
    font-weight: 500;
}
.nav_two button{
    font-weight: 500;
}